* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(16, 255, 56) 0%,
    rgb(100, 255, 183) 100%
  );
  color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  font-size: 32px;
}

form {
  margin-bottom: 32px;
}

input {
  margin: 10px;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  transition: 0.3s;
}

input::placeholder {
  color: #e2e2e2;
}

input:focus {
  border-color: rgb(243, 185, 25);
}

.enabled {
  background: linear-gradient(90deg, rgb(24, 163, 24), rgb(165, 241, 162));
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  color: #fff;
  padding: 16px;
}

.disabled {
  background: linear-gradient(90deg, rgb(187, 187, 187), rgb(255, 255, 255));
  border: none;
  border-radius: 4px;
  cursor: default;
  outline: none;
  color: #000;
  padding: 16px;
}

.error{
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  margin-left: 72px;
  color: red;
}

.input-container{
  width: auto;
  display: flexbox;

}